{% extends 'base.html' %}
{% load i18n %}

{% block title %} 调查管理 {% endblock %}

{% block content %}
<form method='post' action='.'> {% csrf_token %}
  <div class=searchbar>
    <a href="/coursewares/{{ course_id }}">课件管理</a> > 调查管理
    <label style="padding-left: 40px">
      <img alt="Search" src="/site_media/images/icon_searchbox.png">
    </label>
    {{ form.name }}
    <input type='submit' name='search' value='搜索调查' />
    <img src="/site_media/images/icon_add.jpg" style="padding: 0 0 0 160px">
    <a href="/survey/add/{{ course_id }}/">创建调查</a>
  </div>
  <br>
  {% load pagination_tags %}
  {% autopaginate votes 25 %}
  <table class='list'>
    <tr>
      <th>选中</th>
      <th>名称</th>
      <th>URL</th>
      <th>创建人</th>
      <th>创建时间</th>
      <th>状态</th>
      <th>开始时间</th>
      <th>结束时间</th>
    </tr>
    {% for vote in votes %}
    <tr class={% cycle 'row1' 'row2' %}>
      <td>
        <input type='checkbox' value='{{ vote.id }}' name='selected'>
      </td>
      <td>
        {% if vote.started %}
          {{ vote.title }}
        {% else %}
          <a href="/survey/edit/{{ vote.id }}/">{{ vote.title }}</a>
        {% endif %}
      </td>
      <td><a href="{{ vote.url }}">{{ vote.url }}</a></td>
      <td>{{ vote.creator.name }}</td>
      <td>{{ vote.created_time|date:'Y-m-d H:i' }}</td>
      <td>{{ vote.get_status }}</td>
      <td>
        {{ vote.start_time|date:'Y-m-d H:i' }}
        {% if not vote.started %}
        　<a href="/survey/start/{{ vote.id }}/">现在开始</a>
        {% endif %}
      </td>
      <td>
        {{ vote.end_time|date:'Y-m-d H:i' }}
        {% if vote.started and not vote.finished %}
        　<a href="/survey/end/{{ vote.id }}/">现在结束</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td class=noborder colspan=6></td>
      <td class=noborder colspan=2>
        <input type='submit' name='delete' value='删除调查' />
      </td>
  </table>
  {% paginate %}
  <input type='hidden' name='page' value='{{ page }}' />
</form>
{% endblock %}

